/* 
    Document   : style.css
    Created on : 03.11.2010, 11:35:02
    Author     : roman
    Description:
        Purpose of the stylesheet follows.
*/
/* Reset
- - - - - - - - - -- - - - -- - - - -- - - - -- - - - -- - - - -- - - - -- - - - -*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
p, blockquote, ul, fieldset, form, ol, dl, dir, menu { margin: 1.12em 0 }
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { border:0; }
address,caption,code,dfn,th {
    font-style:normal;
    font-weight:normal;
}
i,cite,em,var,address { font-style: italic }
ol,ul { margin-left: 40px; }
ol ul, ul ol, ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
ol  { list-style-type: decimal }
caption,th { text-align:left; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

h1,h2,h3,h4,h5,h6,b,strong  { font-weight: bolder; }
h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h4 { font-size: 1em; margin: 1.12em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }

/*----------*/


.clear {
    clear: both;
}

a {
    color: #0070ff;
}

h1,h2,h3,h4,h5,h6 {
    font-family: serif;
    font-weight: normal;
}

body {
    font-family: Verdana, sans-serif, Geneva, Arial, Helvetica;
    font-size: .9em;
    background: #dcdcdc url('bg.png');
}

#head {
    width: 1000px;
    margin: 0 auto 0 auto;
    background-color: #fff;
}

#site_logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url('logo.png');
    margin: 30px 0 0 30px;
}

#wrap {
    width: 1000px;
    margin: 0 auto 20px auto;
    background-color: #fff;
    position: relative;
}

#wrap2 {
    padding: 20px;
}

#footer {
    clear: both;
    width: 100%;
    text-align: right;
    font-size: .7em;
    position: absolute;
    bottom: -1.5em;
    color: #555;
}
#footer a {
    color: inherit;
}

/*
Список событий
*/
#side_bar {
    float: left;
    width: 180px;
    margin: 10px 10px 10px 0;
}

#side_bar ul {
    list-style: none;
    margin: 5px 0;
}

#side_bar li a {
    text-decoration: none;
}
#side_bar li a:hover {
    background-color: #eee;
}

#side_bar form {
    margin: 5px 0;
}

#side_bar h3 {
    margin: 25px 0 5px 0;
    color: #555;
}

#side_bar input {
    margin: 0 0 5px 0;
}

#content {
    padding: 10px 0 20px 200px;
}

.events_list {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.events_list tr {
    background-color: #fff;
}
.events_list tr:nth-child(2n) {
    background-color: #eee;
}
.events_list tr:hover{
    background-color: #d1defe;
}
.events_list td {
    padding: 3px;
}

.events_list a {
    text-decoration: none;
}

.tags_list {
    font-size: .9em;
}
.description {
    width: 100%;
}
.value, .date, .buttons {
    white-space: nowrap;
    text-align: right;
}
.value {
    padding-right: 10px !important;
}
.money_in {
    color: #047301 !important;
}
.money_out {
    color: #b00208 !important;
}
.tags_list a {
    text-decoration: none;
    background-color: #5e70a1;
    color: #fff;
    font-size: .8em;
    padding: .2em .4em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.events_list .button{
    visibility: hidden;
}
.events_list tr:hover .button{
    visibility: visible;
}
.select {
    font-size: .9em;
    padding: 5px;
    margin: 10px 0;
    border: dashed 1px #555;
}

/*
Облако тегов
*/

.tag_cloud a {
    text-decoration: none;
    color: #444;
}

.tag_cloud a:hover {
    background-color: #eee;
}

.size_5 { font-size: 2em; }
.size_4 { font-size: 1.5em; }
.size_3 { font-size: 1.1em; }
.size_2 { font-size: .85em; }
.size_1 { font-size: .7em; }


/*
Правка
*/

label {
    margin: 1em 0 0 0;
    display: block;
}

.note {
    font-size: .8em;
    color: #505050;
}

/*
Общее
*/

.button {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.button.edit {
    background-image: url('list.png');
}

.button.remove {
    background-image: url('delete.png');
}

.big_button {
    padding: 5px 10px;
    font-size: 1.2em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #555;
    text-decoration: none;
    color: #000;
}

.green {
    background-color: #65ea7a;
}

/******************* message **************/
.message {
    background-color: #8f8;
    padding: 10px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin: 0 20px -35px 20px;
    text-align: center;
    width: auto;
    position: relative;
    z-index: 100;
    opacity: .8;
}

.message.error {
    background-color: #f88;
}

.message.warning {
    background-color: #ffcc5e;
}